.info-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.info-container_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info-container_item_icon {
    padding-bottom: 10px;
}

.info-container_item_text {

}