.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #09d3ac;
}

.header {
  /* background-color: red; */
}

.main_section {
  /* background-color: blue; */
  width: 60%;
}

.footer {
  /* background-color: green; */
  width: 60%;
  /* position: fixed;
  bottom: 0; */
}